/* 
#0C1420 - main dark
#703A8E - active
#011531 - dark blue
#67218E - purple
#9013d6; - purple light
#1976D2 - blue
*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.hide {
    display: none;
}

/*HEADER*/
.header_box {
    margin: 0 0 20px 0;
}

.header_box .header_appbar {
    height: 65px;
    background-color: #0C1420;
    display: flex;
    justify-content: center;
}

.header_button_logo {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.header_ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin: 0 0 0 30px;
}

.header_a {
    margin: 0 20px 0 0;
    color: white;
    text-decoration: none;
    font-family: cursive;
}

.active {
    color: #1976D2;
}

.header_nav {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 40px;
}

.header_span {
    font-family: cursive;
}

/*MAIN*/
.main_block {
    margin: 40px 0 0 40px;
    height: 720px;
}

.main_block .main_button {
    display: flex;
    flex-direction: row;

    text-transform: uppercase;
    padding: 6px 15px 3px;
    border: 1px solid #703A8E;
    color: white;
    background-color: #703A8E;
}

.main_block .main_button:hover {
    color: #011531;
    border: 1px solid #011531;
}

/*NOTE*/
.note_form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.note_form_button {
    border-radius: 50px;
    border: none;
    height: 45px;
    background-color: #703A8E;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.note_form_button:hover,
.note_button_error:hover {
    color: #011531;
    border: 1px solid #011531;
    background-color: white;
}


.note_button_error {
    border: none;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

.note_text {
    margin: 10px 0;
    font-size: 16px;
    height: 45px;
    padding: 10px;
}

/*CREATE*/

.create_button {
    border-radius: 50px;
    border: none;
    height: 45px;
    background-color: #703A8E;
    color: white;
    cursor: pointer;
    width: 300px;
    text-transform: uppercase;
}

.create_button:hover {
    color: #011531;
    border: 1px solid #011531;
    background-color: white;
}

.create_block_copy {
    width: 564px;
    text-align: right;
}

.create_block_copy .create_button_copy {
    border-radius: 5px;
    border: none;
    height: 45px;
    color: #9013d6;
    ;
    cursor: pointer;
    margin: 10px 0 0;
    text-transform: uppercase;
    background: white;
}

.create_block_copy .create_button_copy:hover {
    color: #011531;
    background: white;
}

.create_url {
    width: -webkit-fill-available;
}

/*FOOTER*/
.footer {
    background-color: #0C1420;
    color: white;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
}